@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'oswald';
  src: url('./Oswald.ttf');
}

body {
  font-family: 'oswald', sans-serif;
}

.mobile-menu:checked ~ nav > .nav-items {
  display: flex;
}
