@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'oswald';
  src: url('./Oswald.ttf');
}

body {
  font-family: 'oswald', sans-serif;
}

.nav-toggle:active + nav > .nav-items,
.nav-toggle:focus + nav > .nav-items {
  display: flex;
}
